[submodule "Hospital-Management-System"]
	path = Hospital-Management-System
	url = https://github.com/codemaster-22/Hospital-Management-System.git
[submodule "Hotel-Accomodation"]
	path = Hotel-Accomodation
	url = https://github.com/codemaster-22/Hotel-Accomodation.git
[submodule "TAs-and-Lab-Instructor"]
	path = TAs-and-Lab-Instructor
	url = https://github.com/codemaster-22/TAs-and-Lab-Instructor.git
