[submodule "Hospital-Management-System"]
	path = Hospital-Management-System
	url = https://github.com/codemaster-22/Hospital-Management-System.git
[submodule "Hotel-Accomodation"]
	path = Hotel-Accomodation
	url = https://github.com/codemaster-22/Hotel-Accomodation.git
[submodule "TAs-and-Lab-Instructor"]
	path = TAs-and-Lab-Instructor
	url = https://github.com/codemaster-22/TAs-and-Lab-Instructor.git
[submodule "Order-The-Tasks"]
	path = Order-The-Tasks
	url = https://github.com/codemaster-22/Order-The-Tasks.git
[submodule "Priority-Scheduling-With-Preemption"]
	path = Priority-Scheduling-With-Preemption
	url = https://github.com/codemaster-22/Priority-Scheduling-With-Preemption.git
[submodule "Company-Advertising-Strategy"]
	path = Company-Advertising-Strategy
	url = https://github.com/codemaster-22/Company-Advertising-Strategy.git
[submodule "Minimum-Weighted-Path"]
	path = Minimum-Weighted-Path
	url = https://github.com/codemaster-22/Minimum-Weighted-Path.git
